{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<div class="d-flex" style="border-color:rgb(68, 255, 0);">
    <div style="border-color:red !important;">
        <h1>Contenu 1</h1>
    </div>
    <div style="border-color:red;">
        <h1>Contenu 2</h1>
    </div>
   
</div>
{# <div class="d-flex justify-content-center">
    <div class="row">
        <div class="card col" style="background-color:#657cff7c; margin-right:20px;">
            <div class="row card-content">
                <img src="url_de_votre_image.jpg" alt="Description de l'image">
                <div>
                    <h3>Commandes en cours</h3>
                    <p>12</p>
                </div>
            </div>
        </div>
        <div class="card col" style="background-color:#57c341ae; margin-right:20px;">
            <div class="row card-content">
                <img src="url_de_votre_image.jpg" alt="Description de l'image">
                <div>
                    <h3>Commandes non assignées</h3>
                    <p>2</p>
                </div>
            </div>
        </div>
        <div class="card col" style="background-color:#fc8a4388; margin-right:20px;">
            <div class="row card-content">
                <img href="./public/assets/images/euro.png" alt="Description de l'image" style="width:80px; height:auto;">
                <div class="col">
                    <h3>Total CA</h3>
                    <p>9 589€</p>
                </div>
            </div>
        </div>
        <div class="card col" style="background-color:#ff65d67f; margin-right:20px;">
            <div class="row card-content">
                <img src="url_de_votre_image.jpg" alt="Description de l'image">
                <div>
                    <h3>Nombre de client</h3>
                    <p>156</p>
                </div>
            </div>
        </div>
    </div>
</div> #}
{% endblock main %}